<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">
    <resultMap type='TipoItem' id='TipoItemResult'>
        <id property='id' column='id'/>
        <result property='descripcion' column='descripcion'/>
    </resultMap>
	<select id="getTipoItem" parameterType="map" resultMap="TipoItemResult" >
        select id , descripcion from VI_TIPOITEM
        <if test="id != null">
            where id= #{id}
        </if>
        ;
    </select>
    <insert id="insertarTipoItem" parameterType="map">
        insert into VI_TIPOITEM (id,descripcion) values(#{tipo.id},#{tipo.descripcion})
    </insert>
                
</mapper>